<form action="/pages/update" method="POST">
  <div class="container">
    <input type="hidden" name="id" value="%%ID%%">
    <div class="row" style="margin-top: 20%;">
      <div class="col-12">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" style="min-width: 100px;">Titre</span>
          </div>
          <input type="text" value="%%TITLE%%" name="title" class="form-control" aria-label="" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
    </div>
  
    <div class="row" style="margin-top: 3%;">
      <div class="col-12">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" style="min-width: 100px;">Contenu</span>
          </div>
          <textarea class="form-control" name="content" aria-label="">%%CONTENT%%</textarea>
        </div>
      </div>

      <div class="row" style="margin-top: 3%;">
        <div class="col-12">
          <input type="submit" value="Modifier">
        </div>
      </div>
    </div>
  </div>
</form>