<form action="/auth/loginAction" method="post" style="margin: 20px;">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Connect">
</form>